body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f0f0f0;
}

h1 {
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 10px;
}

.course {
    background: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 5px #0002;
    cursor: pointer;
    border-left: 5px solid #2684ff;
}

.course:hover {
    background: #e7f0ff;
}
.course.approved {
    background: #d4f8d4;
    border-left: 5px solid #2ecc71;
    text-decoration: line-through;
}
